// variables
$brightText: #FFF;
$napaBlue: #001489;
$napaBlueLight: #003297;
$napaBlueDark: #00094b;
$napaYellow: #ffc72c;
$napaRed: #ff003b;
$font: "Gill Sans", sans-serif;
$navHighlight: #FFF;
$navActive: $napaBlueLight;