// variables
$brightText: #FFF;
$napaBlue: #001489;
$napaBlueLight: #003297;
$napaBlueDark: #00094b;
$napaYellow: #ffc72c;
$napaRed: #ff003b;
$font_body: 'Gill Sans', sans-serif;
$font_org_name: 'Exo', 'Times New Roman', serif;
$navHighlight: #FFF;
$navActive: $napaBlueLight;