@import "variables";


.top-bar {
  padding: .5%;
  background-color: $napaBlue;
}

.logo {
  max-width: 100%;
  height: auto;
  float: left;
}

#company_name {
  margin: 0;
  text-align: center;
  font-size: 3vw;
  color: $White;
  font-family: $Font;
}

nav {
  overflow: auto;
  padding: .20%;
  position: relative;
  background-color: $napaYellow;
  font-size: 0;
}

nav a {
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $napaBlue;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 115px;
}


.active nav .start-home, a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: $White;
}

.active nav .start-contactus, a:nth-child(2):hover ~ .animation {
  width: 115px;
  left: 100px;
  background-color: $White;
}

.mySlides {
  width: 80%;
  position: center;
  padding-left: 10%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

h2 {
  color: $White;
  font: $Font
}

.table_ {
  box-sizing: border-box;
  padding-left: 3.5%;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 5%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: $napaBlueLight;
}

.column2 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: $napaBlue;
}

.column3 {
  float: left;
  width: 30%;
  padding: 10px;
  background-color: $napaBlueDark;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
    height: 100%;
  }
  .column2 {
    width: 100%;
    height: 100%;
  }
  .column3 {
    width: 100%;
    height: 100%;
  }
}


body {
  font-size: 25px;
  color: $White;
  font-family: $Font;
  background: $napaBlue;
  position: center;
}

footer {
  font-size: 12px;
  position: fixed;
  padding: 3px 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $napaYellow;
  color: black;
  text-align: center;
}
