@import "variables";

// Set height on content and ancestors
html, body, #content, #photo-container {
  height: 100%;
}

body {
  font-size: x-large;
  color: $brightText;
  font-family: $font;
  background: $napaBlue;
  margin: 0;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  background: $napaBlue;
  padding-top: 1%;

  #logo_img {
    float: left;
    margin: 0 1% 1% 1%;
    max-width: 100%;
  }


  #org_name {
    background-color: $napaBlue;
    text-align: center;
    font-size: 3vw;
    color: $brightText;
    font-family: $font;
  }

  @media screen and (max-width: 1200px) {
    #org_name {
      font-size: 36px; // Set min font size for org_name
    }
  }

  @media screen and (max-width: 765px) {
    #org_type {
      display: none; // Remove the word company when there is not enough space
    }
  }

  nav {
    position: relative;
    background-color: $napaYellow;
    font-size: x-large;
    clear: both;
    text-align: center;

    a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: $napaBlue;
      cursor: pointer;
      padding: 1% 2%;
    }

    a:hover {
      background-color: $navHighlight;
      transition: all .5s ease 0s;
    }

    .active {
      text-decoration: underline;
      text-decoration-color: $navActive;
      text-decoration-thickness: 0.1em;
    }
  }
}

.mySlides {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.table_ {
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Create three equal columns that float next to each other */
.col {
  float: left;
  width: 32%;
  height: 100%;
  padding: 1% 0.50%;
}

.col-color1 {
  //background-color: $napaBlueDark;
  background-color: $napaBlueLight;
}

.col-color2 {
  background-color: $napaBlue;
}

.col-color3 {
  background-color: $napaBlueDark;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 864px) {
  .col {
    width: 100%;
    height: 100%;
  }
}

.map {
  position: relative;
  width: 100%;
  height: 45%;
  padding-top: 5%;
}

footer {
  font-size: 12px;
  position: fixed;
  padding: 0.2% 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $napaYellow;
  color: black;
  text-align: center;
}
