<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ get_url(path=config.extra.favicon) | safe }}" rel="icon">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="{{ get_url(path='main.css') | safe }}" rel="stylesheet">
    <script src="{{ get_url(path='js/variables.js') | safe }}" type="text/javascript"></script>
    <script src="{{ get_url(path='js/main.js') | safe }}" type="text/javascript"></script>
</head>
<body>
<header>
    <div>
        <div class="logo_container">
            <a aria-label="logo, click to go to home" href="{{ config.base_url | safe }}"><img id="logo_img" alt="logo" src="{{ get_url(path=config.extra.logo) }}"/></a>
        </div>
        <div id="org_name">
            <span>Wykies&nbsp;Auto&nbsp;Co</span>
            <span id="org_type"> - NAPA&nbsp;Auto&nbsp;Parts</span>
        </div>
    </div>
    <nav>
        <a
                href="{{ config.base_url | safe}}"
                {% if current_path=='/' %}class="active" {% endif %}
        >Home</a>

        {% set section_ = get_section(path="_index.md") -%}
        {% for page_ in section_.pages -%}
        <a
                href="{{ page_.permalink | safe }}"
                {% if current_path==page_.path %}class="active" {% endif %}
        >{{ page_.title }}</a>


        {% endfor -%}
    </nav>
    <!--TODO 5: Add Store (NAPA Online)-->
</header>

<div id="content">
    {% block content -%}
    {% endblock content %}
</div>

<footer>
    © Wykies Auto Company {{ now() | date(format="%Y") }}
</footer>
</body>
</html>

