<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{{ get_url(path=config.extra.favicon) | safe }}" rel="icon">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="{{ get_url(path='main.css') | safe }}" rel="stylesheet">
</head>

<body>

<header>
    Home, Contact Us
    <!--TODO: Add Store (NAPA Online)-->
</header>

<section id="content">
    {% block content %}
    {% endblock content %}
</section>

<footer>
    © Wykies Auto Company 2022
</footer>
</body>
</html>

