{% extends "base.html" %}
{% block content %}
<div class="w3-content w3-section" style="max-width:100%">
    {% set img= resize_image(path='img-1.jpg', width=2400, height=400, op="fill") -%}
    <img class="mySlides" src="{{ img.url }}" style="width:100%">
    {% set img= resize_image(path='img-2.jpg', width=2400, height=400, op="fill") -%}
    <img class="mySlides" src="{{ img.url }}" style="width:100%">
    {% set img= resize_image(path='img-3.jpg', width=2400, height=400, op="fill") -%}
    <img class="mySlides" src="{{ img.url }}" style="width:100%">
    {% set img= resize_image(path='img-4.jpg', width=2400, height=400, op="fill") -%}
    <img class="mySlides" src="{{ img.url }}" style="width:100%">
</div>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
            myIndex = 1
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 5000); // Change image every 2 seconds
    }
</script>
{{ section.content | safe}}
{% endblock content %}