{% extends "base.html" %}
{% block content %}
<div class="photo-section">
    <!-- TODO 5: Add next and previous buttons for image change (buttons could appear on hover prev on the left and next on the right)-->
    <!-- TODO 5: Find better way to set range end value than hard coding it -->
    {% for i in range(end=9) %}
    {% if i < 10 %}
    {% set img_num = '0' ~ i | as_str %}
    {% else %}
    {% set img_num = i | as_str%}
    {% endif %}
    {% set img_fn = 'NAPA' ~ img_num ~ '.jpg' %}
    {% set img = resize_image(path=img_fn, width=2400, height=1400, op="fill") -%}
    <img alt="banner image" class="mySlides fade" src="{{ img.url }}">
    <!-- TODO 3: Fix images taking more than height between header and footer when window is wider than it is tall
            see: https://cdn.discordapp.com/attachments/979068259380903986/985449018480021534/scrshot.png -->
    {% endfor %}
</div>

{{ section.content | safe}}

<script defer src="{{ get_url(path='js.js') | safe }}" type="text/javascript"></script>

{% endblock content %}