

nav {
    margin: 27px auto 0;
    position: relative;
    background-color: #001489;
    border-radius: 8px;
    font-size: 0;
}

    nav a {
        line-height: 50px;
        height: 100%;
        font-size: 15px;
        display: inline-block;
        position: relative;
        z-index: 1;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: white;
        cursor: pointer;
    }

    nav .animation {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 0;
        transition: all .5s ease 0s;
        border-radius: 8px;
    }

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}


nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 100px;
    left: 0;
    background-color: #ffc72c;
   
}

nav .start-contactus, a:nth-child(2):hover ~ .animation {
    width: 110px;
    left: 100px;
    background-color: #ffc72c;
    
}


body {
    font-size: 12px;
    font-family: sans-serif;
    background: #fff
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'BebasNeueRegular';
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'BebasNeueRegular';
    font-size: 16px;
}
span {
    color: black;
}

footer {
    position: fixed;
    padding: 3px 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffc72c;
    color: black;
    text-align: center;
}


/*
#001489
#ffc72c
#fff
*/